.code-blank{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.code-box{
    background-color: white;
    border-radius: 30px;
    height: 100%;
    width: 80vw;
    padding-bottom: 2%;
}
.code-box_img{
    margin: 3% 20%;
}
.column{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.column-item{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}
.code{
    max-width: 100%;
    max-height: 100%;
    margin: 1%
}

.form_radio_group {
	display: flex;
    align-items: center;
    justify-content: center;
	overflow: hidden;
    margin-top: 2%;
    margin-bottom: 2%;
}
.form_radio_group-item {
	display: inline-block;
	float: left;
}
.form_radio_group input[type=radio] {
	display: none;
}
.form_radio_group label {
	display: inline-block;
	cursor: pointer;
	padding: 0 15px;
	line-height: 34px;
	border: 1px solid black;
	border-right: none;
	user-select: none;
    color: white;
    background: black;
}

.form_radio_group .form_radio_group-item:first-child label {
	border-radius: 6px 0 0 6px;
}
.form_radio_group .form_radio_group-item:last-child label {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #999;
}
/* Hover */
.form_radio_group label:hover {
	color: #fdd105 ;
}
/* Checked */
.form_radio_group input[type=radio]:checked + label {
	background: white;
    color: black;
    transition: all 0.5s;

}
 #map {
     width: 500px;
     height: 500px;
     padding: 0;
     margin: 0;
 }

#marker {
            background-image: url('Flask-site/static/img/marker.png');
            width: 33px;
            height: 36px;
            position: absolute;
        }
.from_design_controls{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    margin-top: 4%;
}
input{
    width: 80%;
    padding: 10px 10%;
    margin: 5%;
    box-sizing: border-box;
    font-size: 16px;
}
button{
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    border: 20px solid black;
    padding: 2% 25%;
}
button:hover{
    background-color: white;
    color: black;
}
.switch_box{
    display: flex;
    justify-content: center;
}
.switch {
	 position: relative;
	 width: 32vw;
	 font-family: Roboto;
     color: white;
}
 .switch:before {
	 content: ' ';
	 position: absolute;
	 left: 0;
	 z-index: -1;
	 width: 100%;
	 height: 3rem;
	 background: #000;
	 border-radius: 30px;
}
 .switch__label {
	 display: inline-block;
	 width: 5vw;
	 padding: 1vw;
	 text-align: center;
	 cursor: pointer;
     font-size: large;
	 transition: color 200ms ease-out;
}
 .switch__label:hover {
	 color: #fdd105;
}
 .switch__indicator {
	 width: 4rem;
	 height: 4rem;
	 position: absolute;
	 top: -0.5rem;
	 left: 0;
     background-color: white;
     border: 2px solid #dfdfdf;
	 border-radius: 50%;
	 transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
	 transform: translate3d(1vw, 0, 0);
}
 .switch input#one:checked ~ .switch__indicator {
	 transform: translate3d(2.5vw, 0, 0);
}
 .switch input#two:checked ~ .switch__indicator {
	 transform: translate3d(8.5vw, 0, 0);
}
 .switch input#three:checked ~ .switch__indicator {
	 transform: translate3d(14vw, 0, 0);
}
 .switch input#four:checked ~ .switch__indicator {
	 transform: translate3d(19.5vw, 0, 0);
}
.switch input#five:checked ~ .switch__indicator {
    transform: translate3d(24vw, 0, 0);
}
 .switch input[type="radio"]:not(:checked), .switch input[type="radio"]:checked {
	 display: none;
}
