.code-blank{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    position: fixed;
}
.code-box{
    margin-top: 2%;
    background-color: white;
    border-radius: 30px;
    height: 80%;
    width: 80vw;
    padding-bottom: 2%;
}
.code-box_img{
    margin: 3% 20%;
}
.column{
    display: flex;
    align-content: center;
    overflow: auto;
    flex-wrap: wrap;
}
.column-item{
    width: 50%;
    height: 65vh;
    display: flex;
    justify-content: center;
}
.code{
    max-width: 100%;
    max-height: 100%;
    margin: 1%
}

.form_radio_group {
	display: flex;
    align-items: center;
    justify-content: center;
	overflow: hidden;
    margin-top: 2%;
    margin-bottom: 2%;
}
.form_radio_group-item {
	display: inline-block;
	float: left;
}
.form_radio_group input[type=radio] {
	display: none;
}
.form_radio_group label {
	display: inline-block;
	cursor: pointer;
	padding: 0 15px;
	line-height: 34px;
	border: 1px solid black;
	border-right: none;
	user-select: none;
    color: white;
    background: black;
}

.form_radio_group .form_radio_group-item:first-child label {
	border-radius: 6px 0 0 6px;
}
.form_radio_group .form_radio_group-item:last-child label {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #999;
}
/* Hover */
.form_radio_group label:hover {
	color: #fdd105 ;
}
/* Checked */
.form_radio_group input[type=radio]:checked + label {
	background: white;
    color: black;
    transition: all 0.5s;

}
 #map {
     width: 500px;
     height: 500px;
     padding: 0;
     margin: 0;
 }

#marker {
            background-image: url('Flask-site/static/img/marker.png');
            width: 33px;
            height: 36px;
            position: absolute;
        }
.from_design_controls{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    margin-top: 4%;
}
input{
    width: 80%;
    padding: 10px 10%;
    margin: 5%;
    box-sizing: border-box;
    font-size: 16px;
}
button{
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    border: 20px solid black;
    padding: 2% 25%;
}
button:hover{
    background-color: white;
    color: black;
}
.img_container{
    width: 24vw;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}
