:root {
  --primary-light: #FDDD51;
  --primary: #FDD105;
  --primary-dark: #C9A504;

  --white: #FFFFFF;
  --greyLight-1: #E6E6E6;
  --greyLight-2: #BFBFBF;
  --greyLight-3: #737373;
  --greyDark: #404040;
}
.code{
	width: 24vw;
    height: auto;
	border-radius: 2.5rem;
	box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
.back_but {
	margin-top: 1rem;
	margin-left: 3rem;
	align-self: flex-start;
}
.buttons_case{
	margin-top: 10rem;
	width: 100%;
	height: 50%;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}
.get_code{
	width: 100%;
}
.back_but_box{
	display: flex;
	justify-content: left;
	width: 100%;
}
.h1-code{
	text-align: center;
	margin: 1rem
}
.design_options{
	width: 20vw;
}
.p-code{
	width: auto;
	font-size: 1.4rem;
	white-space: nowrap;
}
.code-blank{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
	position: fixed;
}
.code-box{
	background: var(--greyLight-1);
    border-radius: 3rem;
    height: 45rem;
    width: 85rem;
	margin-top: 4%;
	box-sizing: border-box;
}
.column{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
	height: 80%;
}
.column-item{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    align-items: center;

}

#map {
	width: 28vw;
	height: 30vh;
	padding: 4px;
	margin: 0;
	border: black solid 0px;
	box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);

}

.img_container{
    padding-top: 18%;
}

/* SWITCH */
 .switch {
	 display: grid;
	 grid-template-columns: repeat(2, min-content);
	 grid-gap: 1rem;
	 align-items: center;
	 padding-top: 1rem;
	 padding-bottom: 1rem;
}
 .switch input {
	 display: none;
}
 .switch__1{
	 width: 6rem;
}
 .switch__1 label{
	 display: flex;
	 align-items: center;
	 width: 100%;
	 height: 3rem;
	 box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
	 background: rgba(255, 255, 255, 0);
	 position: relative;
	 cursor: pointer;
	 border-radius: 1.6rem;
}
 .switch__1 label::after{
	 content: "";
	 position: absolute;
	 left: 0.4rem;
	 width: 2.1rem;
	 height: 2.1rem;
	 border-radius: 50%;
	 background: var(--greyDark);
	 transition: all 0.4s ease;
}
 .switch__1 label::before{
	 content: '';
	 width: 100%;
	 height: 100%;
	 border-radius: inherit;
	 background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
	 opacity: 0;
	 transition: all 0.4s ease;
}
 .switch input:checked ~ label::before {
	 opacity: 1;
}
 .switch input:checked ~ label::after {
	 left: 57%;
	 background: var(--greyLight-1);
}

 .segmented-control {
	 width: 34rem;
	 height: 2.8rem;
	 box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
	 border-radius: 1rem;
	 display: flex;
	 align-items: center;
	 position: relative;
	 margin-top: 2%;
	 margin-bottom: 4%;
}
.segmented-control.sub{
    width: 20.4rem;
}

 .segmented-control input {
	 display: none;
}
 .segmented-control > input:checked + label {
	 transition: all 0.5s ease;
	 color: var(--primary-dark);
}
 .segmented-control__1, .segmented-control__2, .segmented-control__3, .segmented-control__4, .segmented-control__5 {
	 width: 6.8rem;
	 height: 2.6rem;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 cursor: pointer;
	 color: var(--greyDark);
	 transition: all 0.5s ease;
}

 .segmented-control__1:hover, .segmented-control__2:hover, .segmented-control__3:hover, .segmented-control__4:hover, .segmented-control__5:hover {
	 color: var(--primary);
}
 .segmented-control__color {
	 position: absolute;
	 height: 2.4rem;
	 width: 6.2rem;
	 margin-left: 0.3rem;
	 border-radius: 0.8rem;
	 box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
	 pointer-events: none;
}
#link:checked ~ .segmented-control__color {
	 transform: translateX(0);
	 transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#wifi:checked ~ .segmented-control__color {
	 transform: translateX(6.8rem);
	 transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#contact:checked ~ .segmented-control__color {
	 transform: translateX(13.6rem);
	 transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#text:checked ~ .segmented-control__color {
	 transform: translateX(20.4rem);
	 transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#geo:checked ~ .segmented-control__color {
	 transform: translateX(27.2rem);
	 transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#variant_1:checked ~ .segmented-control__color {
	 transform: translateX(0);
	 transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#variant_2:checked ~ .segmented-control__color {
	 transform: translateX(6.8rem);
	 transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#variant_3:checked ~ .segmented-control__color {
	 transform: translateX(13.6rem);
	 transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

 .form__input {
	 width: 24rem;
	 text-align: center;
	 height: 4rem;
	 border: none;
	 border-radius: 1rem;
	 font-size: 1.4rem;
	 font-family: Roboto, sans-serif;
	 box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
	 background: none;
	 box-sizing: border-box;
	 margin: 8px 0;
	 color: var(--greyDark);
}
 .form__input::placeholder {
	 color: var(--greyLight-3);
}
 .form__input:focus {
	 outline: none;
	 box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
label{
	font-size: 1.4rem;
}
.btn {
  width: 18rem;
  height: 5rem;
  border-radius: 1rem;
	border: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn__primary {
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyDark);
}
.btn__primary:hover {
  color: var(--greyLight-1);
}
.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}
.btn__secondary {
  color: var(--greyDark);
}
.btn__secondary:hover {
  color: var(--primary);
	background-color: var(--greyLight-1);
}
.btn__secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.btn p {
  font-size: 1.6rem;
}
.btn__box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.radio {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.radio input {
  display: none;
}
.radio__1{
	width: 24rem;
	margin-top: 1rem;
	display: flex;
	gap: 20px;
	align-items: center;
}
.radio__1 input:checked ~ label{
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.radio__1 input:checked ~ label::after{
  background: var(--primary);
}
.radio__1 label{
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}
.radio__1 label:hover::after{
  background: var(--primary);
}
.radio__1 label::after {
  content: "";
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  background: var(--greyDark);
  border-radius: 50%;
  transition: 0.3s ease;
}
.color_picker input{
	 display: none;
}
input[type=radio]:checked + label span {
  transform: scale(1.25);
}
input[type=radio]:checked + label .yellow {
  border: 2px solid #816102;
}
input[type=radio]:checked + label .black {
  border: 2px solid #3a3a3a;
}
.color_picker label span.yellow {
  background: #FBBD08;
}
.color_picker label span.black {
  background: #000000;
}
.color_picker label::after{
	 position: absolute;
	 width: 0;
	 height: 0;
}
.color_picker label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.color_picker label:hover span {
  transform: scale(1.25);
}
.color_picker label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.color_picker {
	justify-content: center;
	display: none;
}
.line{
	background-color: black;
	height: 4px;
	border-radius: 2px;
	width: auto;
}