@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@media (max-width: 658px){
  :root{
      --nav-padding: 12vw;
      --sub-nav-order: 2;
      --logo-order: 1;
  }
}
@media (min-width: 629px) and (max-width: 908px){
  :root{
        --nav-padding: 4vw;
        --sub-nav-order: 1;
        --logo-order: 1;
  }
}
@media (min-width: 909px) and (max-width: 1167px){
  :root{
        --nav-padding: 8vw;
        --sub-nav-order: 1;
        --logo-order: 1;

  }
}
@media (min-width: 1168px) and (max-width: 1400px){
  :root{
        --nav-padding: 10vw;
        --sub-nav-order: 1;
        --logo-order: 1;

  }
}
@media (min-width: 1401px){
  :root{
        --nav-padding: 8vw;
        --sub-nav-order: 1;
        --logo-order: 1;

  }
}
.logo{
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(7417%) hue-rotate(20deg) brightness(124%) contrast(101%);
}
.main_logo{
    order: var(--logo-order);
}
.sub_nav{
    order: var(--sub-nav-order);
}
html {
	background-color: #000000;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5%;
    flex-wrap: wrap;
}
li, a{
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: large;
    text-decoration: none;
    color: black;
}
header{
    background-color: black;

}
body {
    background-color: #000000;
}
.load{
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.nav_links li{
    display: inline-block;
    padding: 0 var(--nav-padding);
    color: #000000;
}
.nav_links li a.active{
    border-bottom: 1px solid #ffffff;
    transition: border-bottom-width 0.5s ease 0s;
}
.nav_links li a{
    display: inline-block;
    color: white;
    cursor: pointer;
    padding: 5%;
}

.nav_links li a:hover{
    filter: brightness(0) saturate(100%) invert(81%) sepia(72%) saturate(848%) hue-rotate(348deg) brightness(96%) contrast(106%);
}
h1{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;

}
label{
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}
h2{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}
p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 14px;
}