{% extends "index.html" %}

{% block content %}
<div class="code-blank" style="background: repeat url({{ url_for('static', filename='img/font.svg') }}); background-size: 20%">
    <div>
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=d785b28b-95e2-4091-b750-7b0403fb6abc" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/map.js')}}"></script>

        <div class="code-box load">
            <div class="column">
            <div class="column-item" style="visibility: {{ disp }}">
                <h1>Генератор QR</h1>
                <form  action="#" method="POST">
                <div class="form_radio_group">
	                <div class="form_radio_group-item">
                        <input id="link" type="radio" autocomplete="off" name="inp_radio" value="1" checked>
                        <label for="link">Link</label>
	                </div>
	                <div class="form_radio_group-item">
                        <input id="wifi" type="radio" autocomplete="off" name="inp_radio" value="2">
		                <label for="wifi">WiFi</label>
	                </div>
	                <div class="form_radio_group-item">
		                <input id="contact" type="radio" autocomplete="off" name="inp_radio" value="3">
		                <label for="contact">Contact</label>
	                </div>
	                <div class="form_radio_group-item">
		                <input id="text" type="radio" autocomplete="off" name="inp_radio" value="4">
		                <label for="text">Text</label>
	                </div>
                    <div class="form_radio_group-item">
		                <input id="geo" type="radio" autocomplete="off" name="inp_radio" value="5">
		                <label for="geo">Geoposition</label>
	                </div>
                </div>
                <div>
                    <div id="link_form" class="form_inputs">
                        <label for="link_inp">Enter your link</label>
                        <input type="text"  placeholder="mylink.com" id="link_inp" name="link_inp">
                    </div>
                    <div id="wifi_form" class="form_inputs" style="display: none">
                        <label for="wifi_name_inp">Enter name for WiFi (WPA/WPA2 only rn)</label>
                        <input type="text"  placeholder="my-home-wifi" id="wifi_name_inp" name="wifi_name_inp"><br>
                        <label for="wifi_pass_inp">Enter password for your WiFi</label>
                        <input type="password"  placeholder="reAllyHardPa22" id="wifi_pass_inp" name="wifi_pass_inp">
                    </div>
                    <div id="contact_form" class="form_inputs" style="display: none">
                        <label for="name_inp">Enter name for a contact</label>
                        <input type="text"  placeholder="Andrew" id="name_inp" name="name_inp"><br>
                        <label for="phone_inp">Enter phone number</label>
                        <input type="tel"  placeholder="+7 920 831 54 37" id="phone_inp" name="phone_inp"><br>
                        <label for="email_inp">Enter email</label>
                        <input type="email"  placeholder="andrew@niuitmo.ru" id="email_inp" name="email_inp">
                    </div>
                    <div id="text_form" class="form_inputs" style="display: none">
                        <label for="text_inp">Enter pain text</label>
                        <input type="text"  placeholder="I love physics" id="text_inp" name="text_inp"><br>
                    </div>
                    <div id="geo_form" class="form_inputs" style="display: none">
                        <input type="text"  placeholder="59.927301, 30.338456" id="geo_inp" name="geo_inp"><br>
                        <div id="map" style="width: 500px; height: 300px; margin: auto"></div>
                    </div>
                    <div class="from_design_controls">
                        <div class="form_radio_group">
                            <div class="form_radio_group-item">
                                <input type="radio" class="check_box" id="type_default" name="type" value="default" checked>
                                <label for="type_default"> Default type</label>
                            </div>
                            <div class="form_radio_group-item">
                                <input type="radio" class="check_box" id="type_noback" name="type" value="noback">
                                <label for="type_noback">Without back</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="button">отправить</button>
                </form>
                </div>
            </div>
            <div class="column-item">
                <img class="code" style="visibility: {{ hidden }}" src="data:image/jpeg;base64,{{ img_data }}">
            </div>
            </div>
        <script>
                    $(document).ready ( function(){
                        document.querySelector('input[name="inp_radio"]:checked').value=1;
                        data=document.querySelector('input[name="inp_radio"]:checked').value;
                        document.getElementById('link_inp').setAttribute('required', '');
                    });

                    $('input[type=radio][name=inp_radio]').change(function() {
                        if (this.value) {
                            $('#link_form')[0].style.display= 'none';
                            $('#wifi_form')[0].style.display= 'none';
                            $('#contact_form')[0].style.display= 'none';
                            $('#text_form')[0].style.display= 'none';
                            $('#geo_form')[0].style.display= 'none';
                            $('#link_inp').removeAttr('required');
                            $('#wifi_name_inp').removeAttr('required');
                            $('#name_inp').removeAttr('required');
                            $('#text_inp').removeAttr('required');
                            $('#wifi_pass_inp').removeAttr('required');
                        }
                        if (this.value === '1') {
                            $('#link_form')[0].style.display= '';
                            $('#link_inp').attr('required', '');
                            }
                        else if (this.value === '2') {
                            $('#wifi_form')[0].style.display= '';
                            $('#wifi_name_inp').attr('required','');
                            $('#wifi_pass_inp').attr('required','');
                            }
                        else if (this.value === '3') {
                            $('#contact_form')[0].style.display= '';
                            $('#name_inp').attr('required', '');
                            }
                        else if (this.value === '4') {
                            $('#text_form')[0].style.display= '';
                            $('#text_inp').attr('required', '');
                            }
                        else if (this.value === '5') {
                            $('#geo_form')[0].style.display= '';
                            $('#geo_inp').attr('required', '');
                            }
                    });
                </script>
        </div>
    </div>
</div>
{% endblock %}
