{% extends "index.html" %}

{% block content %}
<div class="code-blank">
    <div>
        <div style="display: inline-block;width: 30%;height: 5%;background-color: #dfdfdf;margin-top: 1%;border: solid black 1px;">
            <h1> Генератор QR</h1>
        </div>
        <div class="code-box">
            <div class="column">
            <div class="column-item">
                <p>1</p>
            </div>
            <div class="column-item">
                <p>2</p>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
