{% extends "index.html" %}
{% block content %}
<div class="mainpg-back" style="background: repeat url({{ url_for('static', filename='img/font.svg') }}); background-size: 20%">

    <div class="mainpg-box">
        <div class="mainpg-bigbutton">
            <div style="padding-left: 3vw;padding-top: 2vh">
                <h1 style="font-size: 4vw; text-align: left"> Создай QR-код в стиле Физтеха прямо сейчас! <h1>
            </div>
            <div class="mainbutton_case">
                <button onclick="window.location.href='/code';" class="button_main"><span>Создать QR </span></button>
            </div>
        </div>
    </div>
    <div class="mainpg-cards">
            <div class="tg-card">
                <div style="padding-left: 3vw;padding-top: 3vh;padding-right: 3vw">
                    <h2 style="font-size: xxx-large; text-align: left"> Наш генератор так же доступен в Telegram! </h2>
                </div>
                <div class="mainbutton_case">
                            <button onclick="window.location.href='https://t.me/itmo_qrcode_bot';" class="button_main" ><span>Телеграм-Бот </span></button>
                        </div>
            </div>
            <div class="contact-card">
                <div style="padding-left: 3vw;padding-top: 3vh;padding-right: 3vw">
                    <h2 style="font-size: xxx-large; text-align: left"> Что-то не работает или у Вас есть предложение? <h2>
                        <p style="text-align: left; font-size: xx-large; padding-top: 20px"> Напишите нам в tg:</p>
                        <p style="text-align: right; font-size: xx-large; padding-top: 10px"> @SoSimon </br> @dmitriidmitri</p>
                </div>
            </div>
        </div>
</div>
{% endblock %}
